/* This is my CSS stylesheet. */

body {
    /* Home background color */
    background-color: #f5f4f0;

    /* Primary body font */
    font-family: 'Monaco', monospace;
    font-size: 14pt;
    font-weight: 400;

    /* Primary margin setting */
    margin-top: 50;
    margin-left: 50;
    max-width: 850;

    /* Global line height */
    line-height: 150%;
}

/* Header styles */

h1 {
    font-size: 32pt;
    margin-bottom: 0;
    margin-bottom: 10;
}

h2 {
    font-size: 20pt;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 18pt;
    margin-top: 40;
    margin-bottom: 10;
}

p {
    margin-top: 10;
    margin-bottom: 30;
}

/* Code style */

pre{
    font-family: 'Courier', monospace;
    margin-bottom:30;
}

code {
    padding:2px;
    background-color: #F7A9AF;
    font-family: 'Monaco', monospace;
}

pre code {
    font-family: 'Courier', monospace;
    font-size: 14pt;
    line-height: 120%;
    display: block;
    padding: 20px;
}

/* Horizontal Line */

hr {
    size: 3px;
    border: 1px solid black;
}

/* Link behavior */

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Tables */

table {
    font-family: 'Courier', monospace;
    font-size:14pt;
    border-collapse: collapse;
    margin-top: 20;
    margin-bottom: 20;
}

th, td {
    padding-right: 45;
    text-align: left;
    vertical-align: top;
    line-height: 140%;
}

td.empty:after {
  content: 'Empty cell';
  visibility: hidden;
  speak: none;
}

.blank_row {
    height: 20;
}
/* th, td { */
/*   padding: 8px; */
/*   text-align: left; */
/*   border-bottom: 1px solid black; */
/*   } */

/* Images */

img {
    display: block;
}
