/* This is the CSS stylesheet of Nathan Mull. */

body {
  /* Home background color */
  /* background-color: #eeeedd; */ /* Old background color */
  background-color: #f5f4f0;

  /* Primary body font */
  font-family: 'Monaco', monospace;
  font-size: 16pt;
  font-weight: 400;

  /* Primary margin setting */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 750px;

  /* Global line height */
  line-height: 175%;
}

/* Header font*/

h1,
h2,
h3 {
  font-family: 'Monaco', monospace;
  font-weight: 300;
}

/* Header styles */

h1 {
  font-size: 38pt;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 110%;
}

h2 {
  font-size: 20pt;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

h3 {
  font-size: 22pt;
  font-style: italic;
  text-transform: lowercase;
}

/* Code style */

code {
  background-color: #eee;
  outline: 0.5px solid black;
  font-family: 'Courier', monospace;
}

pre code {
  font-family: 'Courier', monospace;
  font-size: 14pt;
  line-height: 120%;
  display: block;
  padding: 20px;
}

/* Horizontal Line */

hr {
  size: 3px;
  border: 1px solid black;
}

/* Link behavior */

a:link {
  text-decoration: underline;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Tables */

table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

/* Images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
