/*

  //\\    //\\    //\\    //\\    //\\    Nathan M. Mull
 //  \\  //  \\  //  \\  //  \\  //  \\   Copyright 2023
//    \\//    \\//    \\//    \\//    \\  All rights reserved

*/

body {
    background-color: #f5f4f0;

    font-family: 'Menlo', monospace;
    font-size: medium;

    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right:3em;
    max-width: 800px;

    line-height: 1.5;
}

h1 {
    font-size: 3em;
    line-height: normal;
}

.titlehead {
    margin-bottom: 0px;
}

.subhead {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    margin-bottom:0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom:0.1em;
}

h3 {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom:0.1em;
}

p {
    margin-top:0px;
    margin-bottom: 1em;
}

.footnote{
    margin-top: 5em;
    font-size: 0.8em;
}

/* a hack for highlighting text without html export in org */
code {
    padding:0.2em;
    font-size: medium;
    background-color: #F7A9AF;
}

a:link {
    text-decoration: underline;
    color: #005b9e;
}

a:visited {
    text-decoration: none;
    color: #005b9e;
}

a:hover {
    background-color: yellow;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

table {
    font-family: 'Courier', monospace;
    font-size:1em;
    border-collapse: collapse;
}

th, td {
    padding-right: 1.25em;
    text-align: left;
    vertical-align: top;
    line-height: 1.25;
}

li {
    list-style-type:"≫ ";
}

ul {
    margin-top: 0px;
}

@media screen and (max-width: 1000px) {
    body {
	font-size: 20pt;
    }
}
