body {
    background-color: #eeeedd;
}

h1 {
    font-family:  Palatino;
    font-weight: lighter;
    text-align: center;
    margin-top: 1.5cm;
    margin-bottom: 1.0cm;
    font-size:38pt;
}

h2 {
    font-family: Palatino;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    font-size:24pt;
    margin-top: 1.0cm;
}

p {
    font-family: Roman;
    font-weight: lighter;
    width:1000px;
    margin-bottom:10;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    line-height: 160%;
    font-size: 18pt;
    word-wrap: break-word;
}


a:link {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
