/*

  //\\    //\\    //\\    //\\    //\\    Nathan Mull
 //  \\  //  \\  //  \\  //  \\  //  \\   Copyright 2026
//    \\//    \\//    \\//    \\//    \\  All rights reserved

*/

body {
    margin: 3em;
    max-width: 700px;
    line-height: 1.4;
}

a:link, a:visited {
    color: #E75480
}
